nav{
    background-color: rgb(49, 49, 49);
    width: 100%;
    height: 75px;
    padding: 10px 10px 5px 10px;
    color: white;
}

.btn-nav{
    margin: 0 10px 0 10px;
    padding: 0 5px 0 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
}