.logo{
    text-align: center;
}

.logo img{
    height: 400px;
    border-radius: 10px;
}

.android{
    font-size: 20px;
}

.android_logo{
    margin: 0 0 0 5px;
}

.apple_logo{
    margin: -5px 0 0 5px;
}

.note{
    margin: 5px 0 0 0;
    font-style: italic;
    font-size: 15px;
    color: rgb(202, 77, 77);
}