<div class="logo">
    <img src="assets\images\BibleDuel_logo.png"> <br>
</div>

<div class="block mt-5">
    <h3>Hinweis:</h3>
    <hr>
    <h5>
        Diese App befindet sich noch in der frühen Entwicklungsphase und dient nur als Test<br>
        um Fehler und Verbesserungen zu finden und schonmal einen Pool an Fragen aufzubauen.<br><br>
        Es kann wärend der Nutzung zu Fehlermeldungen kommen oder auch Fragen können Fehler enthalten.<br>
        Fehler in Fragen können in der erneuten Ansicht, über das Ausrufezeichen oben rechts in der Ecke gemeldet werden. <br><br>
        Da ich noch kein Zertifikat für die App gekauft habe, <br> 
        ist es eventuell nötig die Installation aus fremder Quelle für diese Anwendung zu genemigen.<br>
        In Zukunft soll die App auf jeden Fall auch in den AppStore und den PlayStore kommen.<br><br>
        Die Installation und Nutzung unterliegt der eigenen Verantwortung.
        <br>
        <br>
        Mehr über das Projekt kanst du <a [routerLink]="['/about-me']">hier</a> erfahren.
    </h5>
</div>

<div class="block mt-5">
    <h3>Android</h3>

    <hr>

    <a type="button" class="btn btn-success android" href="https://drive.google.com/drive/folders/19s46hPvQ0SwYpRBnUHzGPRw0DrbhGvN7?usp=sharing" download="app-debug.apk">Download Android Version
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-android android_logo" viewBox="0 0 16 16">
            <path d="M2.76 3.061a.5.5 0 0 1 .679.2l1.283 2.352A8.9 8.9 0 0 1 8 5a8.9 8.9 0 0 1 3.278.613l1.283-2.352a.5.5 0 1 1 .878.478l-1.252 2.295C14.475 7.266 16 9.477 16 12H0c0-2.523 1.525-4.734 3.813-5.966L2.56 3.74a.5.5 0 0 1 .2-.678ZM5 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m6 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
        </svg>
    </a>
    <h5 class="note">(Version 3.0.0)</h5>
</div>

<div class="block mt-5">
    <h3>IOS</h3>

    <hr>

    <button type="button" class="btn btn-primary android disabled">Download IOS Version
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-apple apple_logo" viewBox="0 0 16 16">
            <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"/>
            <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"/>
          </svg>
    </button>
    <h5 class="note red">coming soon!</h5>
</div>

<div class="block mt-5 align-left">
    <h3>Neuerungen</h3>

    <p class="version">3.0.0 - 21.03.2024</p>
    <hr>
    <p>
        - Duelle werden automatisch gelöscht. Laufende Duelle nach 7 Tagen. Beendete und nicht gestartete Duelle nach 3 Tagen. <br>
        - Sortierung von Match List repariert <br>
        - Automatische Update Meldungen repariert
    </p>

    <p class="version">2.1.0 - 12.03.2024</p>
    <hr>
    <p>
        - Matchlist, Match-Ansicht und Benutzer-Status aktualisiert sich alle 20 Sekunden automatisch <br>
        - Benachrichtigung nach beenden eines Matches in der Match-Ansicht korrigiert <br>
        - Vorlage für Bibelstellen Schreibweise hinzugefügt
    </p>

    <p class="version">2.0.0 - 08.03.2024</p>
    <hr>
    <p>
        - Neue Domain "Bibelduell.de" veröffentlicht<br>
        - Timelimit für Fragen wird jetzt durch Kategorie bestimmt (Mehr Zeit für Bibelmoji)<br>
        - Gewonnen/Verloren/Unentschieden wird jetzt in Match-Ansicht angezeigt<br>
        - Fehler in Score Berechnung und Ratio Berechnung korrigiert<br>
        - Scoreboard für Freunde und Global hinzugefügt<br>
        - Probleme bei Namensänderung behoben<br>
        - Ergebnisse des Gegners werden nicht mehr vor dem eigenem Zug angezeigt<br>
        - "Contributor" Status hinzugefügt für Benutzer die Fragen hinzufügen wollen<br>
    </p>

    <p class="version">1.0.0 - 23.02.2024</p>
    <hr>
    <p>
        - Fragen können angeschaut und über das "!" gemeldet werden<br>
        - Mitwirkende an der App werden unter Einstellungen/Mitwirkende gewürdigt<br>
        - APP Version wird automatisch nach Updates geprüft<br>
        - Einige kleinere Fehler korrigiert<br>
    </p>

    <p class="version">0.0.0 - 11.01.2024</p>
    <hr>
    <p>
        - Erste spielbare Version veröffentlicht
    </p>

</div>

<br>
<br>
<br>




