
<div class="block align-left">
    <h2 class="page-header">Login</h2>

    <form (submit)="onLoginSubmit()">
        <div class="form-group">
            <label class="mt-2"> Benutzername </label>
            <input type="text" class="form-control mt-1" [(ngModel)]="username" name="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label class="mt-2">Passwort</label>
            <input type="password" class="form-control mt-1" [(ngModel)]="password" name="password" placeholder="Enter Password">
        </div>
        <input type="submit" class="btn btn-primary mt-3" value="Anmelden">
    </form>
</div>
