.block{
    padding: 20px;
    text-align: center;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    color: white;
}

.align-left{
    text-align: left;
}

.center{
    text-align: center;
}
