<div class="block mt-4">
    <table style="width: 100%;">
        <tr>
            <td style="text-align: right; width: 45%;">
                <h3>{{nr_of_users}}</h3>
            </td>
            <td style="text-align: center; width: 5%;">
                <h3></h3>
            </td>
            <td style="text-align: left; width: 45%;">
                <h3> Benutzer </h3>
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 45%;">
                <h3>{{nr_of_contributors}}</h3>
            </td>
            <td style="text-align: center; width: 5%;">
                <h3></h3>
            </td>
            <td style="text-align: left; width: 45%;">
                <h3> Mitwirkende </h3>
            </td>
        </tr>
    </table>
</div>

<div class="block mt-4">
    <table style="width: 100%;">
        <tr>
            <td style="text-align: right; width: 45%;">
                <h3>{{nr_of_categories}}</h3>
            </td>
            <td style="text-align: center; width: 5%;">
                <h3></h3>
            </td>
            <td style="text-align: left; width: 45%;">
                <h3> Kathegorien </h3>
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 45%;">
                <h3>{{nr_of_questions}}</h3>
            </td>
            <td style="text-align: center; width: 5%;">
                <h3></h3>
            </td>
            <td style="text-align: left; width: 45%;">
                <h3> Fragen </h3>
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 45%;">
                <h3>{{nr_of_games}}</h3>
            </td>
            <td style="text-align: center; width: 5%;">
                <h3></h3>
            </td>
            <td style="text-align: left; width: 45%;">
                <h3> Laufende Duelle </h3>
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 45%;">
                <h3>{{nr_of_reports}}</h3>
            </td>
            <td style="text-align: center; width: 5%;">
                <h3></h3>
            </td>
            <td style="text-align: left; width: 45%;">
                <h3> Meldungen </h3>
            </td>
        </tr>
    </table>
</div>
