<div class="block mt-5 align-left">
    <h3>Neuerungen</h3>

    <p class="version">3.0.1 - 23.03.2024</p>
    <hr>
    <p>
        - Problem mit der Score Berechnung behoben.<br>
        - Hinweis für Passwörter hinzugefügt<br>
        - Einpaar Rechtschreibfehler behoben 
    </p>

    <p class="version">3.0.0 - 21.03.2024</p>
    <hr>
    <p>
        - Duelle werden automatisch gelöscht. Laufende Duelle nach 7 Tagen. Beendete und nicht gestartete Duelle nach 3 Tagen.<br>
        - Sortierung von Match List repariert<br>
        - Automatische Update Meldungen repariert
    </p>

    <p class="version">2.1.0 - 12.03.2024</p>
    <hr>
    <p>
        - Matchlist, Match-Ansicht und Benutzer-Status aktualisiert sich alle 20 Sekunden automatisch<br>
        - Benachrichtigung nach beenden eines Matches in der Match-Ansicht korrigiert<br>
        - Vorlage für Bibelstellen Schreibweise hinzugefügt
    </p>

    <p class="version">2.0.0 - 08.03.2024</p>
    <hr>
    <p>
        - Neue Domain "Bibelduell.de" veröffentlicht<br>
        - Timelimit für Fragen wird jetzt durch Kategorie bestimmt (Mehr Zeit für Bibelmoji)<br>
        - Gewonnen/Verloren/Unentschieden wird jetzt in Match-Ansicht angezeigt<br>
        - Fehler in Score Berechnung und Ratio Berechnung korrigiert<br>
        - Scoreboard für Freunde und Global hinzugefügt<br>
        - Probleme bei Namensänderung behoben<br>
        - Ergebnisse des Gegners werden nicht mehr vor dem eigenem Zug angezeigt<br>
        - "Contributor" Status hinzugefügt für Benutzer die Fragen hinzufügen wollen<br>
    </p>

    <p class="version">1.0.0 - 23.02.2024</p>
    <hr>
    <p>
        - Fragen können angeschaut und über das "!" gemeldet werden<br>
        - Mitwirkende an der App werden unter Einstellungen/Mitwirkende gewürdigt<br>
        - APP Version wird automatisch nach Updates geprüft<br>
        - Einige kleinere Fehler korrigiert<br>
    </p>

    <p class="version">0.0.0 - 11.01.2024</p>
    <hr>
    <p>
        - Erste spielbare Version veröffentlicht
    </p>

</div>