<h1 class="headline center mt-4">Über mich:</h1>

<div class="block mt-3 align-left">
    <h4>Hi,</h4>
    <p>
        Ich bin Silas Detering, derzeit 23 Jahre alt, leidenschaftlicher Nachfolger von Jesus Christus und studiere Informatik an der Technischen Universität Dortmund. <br>
        Dieses Projekt ist neben meinem Studium entstanden, da ich lernen wollte, wie man eine App entwickelt. Außerdem habe ich schon immer großen Spaß an Quizzen gehabt.<br> 
        Meine Hoffnung ist, dass diese App dazu beitragen kann, dass wir die Bibel besser kennenlernen und dass sie mehr Interesse an dem bedeutendsten Buch aller Zeiten wecken kann.
        <br><br> 
        Ich hoffe, dir gefällt die App und du hast viel Freude damit 😊
    </p>        
</div>

<div class="block mt-3 align-left">
    Hast du Fragen oder Anregungen? Dann schreib mir gerne eine E-Mail: <a href="mailto:info@bibelduell.de">info&#64;bibelduell.de</a>
</div>

<br><br><br>
