<ul class="nav nav-tabs" role="tablist" style="margin-top: 50px;">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="statistics" data-bs-toggle="tab" role="tab" tabindex="0"
            (click)="changeView('statistics')">Dashboard</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="user" data-bs-toggle="tab" role="tab" tabindex="0" (click)="changeView('user')">User</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="categories" data-bs-toggle="tab" role="tab" tabindex="1"
            (click)="changeView('categories')">Kathegorien</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="questions" data-bs-toggle="tab" role="tab" tabindex="1"
            (click)="changeView('questions')">Fragen</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="tab_statistics" role="tabpanel" style="margin-top: 10px;">
        <app-statistics 
            [nr_of_users]="user_list.length" 
            [nr_of_contributors]="contributor_list.length"
            [nr_of_categories]="categorie_list.length"
            [nr_of_questions]="question_list.length"
            [nr_of_games]="duel_count"
            [nr_of_reports]="reported_questions.length"
            (refresh)="refresh($event)"
        ></app-statistics>
    </div>
    <div class="tab-pane fade" id="tab_user" role="tabpanel" style="margin-top: 10px;">
        <app-user 
            [user_list]="user_list"
            (refresh)="refresh($event)"
        ></app-user>
    </div>
    <div class="tab-pane fade" id="tab_categories" role="tabpanel" style="margin-top: 10px;">
        <app-categories 
            [categorie_list]="categorie_list"
            (refresh)="refresh($event)"
        ></app-categories>
    </div>
    <div class="tab-pane fade" id="tab_questions" role="tabpanel" style="margin-top: 10px;">
        <app-questions 
            [categorie_list]="categorie_list" 
            [question_list]="question_list" 
            [user_list]="user_list"
            (refresh)="refresh($event)"
        ></app-questions>
    </div>
</div>

<br>
<br>
<br>